<?xml version="1.0"?>
<config>
	<modules>
		<Doshu_Pagonline>
			<version>0.1.0</version>
		</Doshu_Pagonline>
	</modules>
	<global>
		<helpers>
			<pagonline>
				<class>Doshu_Pagonline_Helper</class>
			</pagonline>
		</helpers>
		<models>
			<pagonline>
				<class>Doshu_Pagonline_Model</class>
			</pagonline>
		</models>
		<blocks>
			<pagonline>
				<class>Doshu_Pagonline_Block</class>
			</pagonline>
		</blocks>
		<resources>
			<pagonline_setup>
				<setup>
					<module>Doshu_Pagonline</module>
					<!--class>Mage_Eav_Model_Entity_Setup</class-->
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pagonline_setup>
			<pagonline_write>
				<use>core_write</use>
			</pagonline_write>
			<pagonline_read>
				<use>core_read</use>
			</pagonline_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<pagonline>
				<use>standard</use>
				<args>
					<module>Doshu_Pagonline</module>
					<frontName>pagonline</frontName>
				</args>
			</pagonline>
		</routers>   
	</frontend>    
	<default>
		<payment>
			<pagonline>
				<active>1</active>
				<model>pagonline/standard</model>
				<order_status>pending</order_status>
				<title>Pagonline</title>
				<payment_action>sale</payment_action>
			</pagonline>
		</payment>
	</default>
</config> 
